@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70vh;
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-size: 25px;
  color: #ff9000;
  text-transform: uppercase;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  font-weight: 600;
  color: #1d1d1b;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #adaca9;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}
.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #77777797;
  padding: 20px;
  min-width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

table {
  width: 100%;
}

th,
td {
  color: #ffffff;
}

.borrar {
  background-color: #ff9000;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
}

.bg {
  position: absolute;
  width: 700px;
  top: 0;
  right: 0;
  z-index: -1;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-txt {
  width: 50%;
  margin-right: 50px;
}

.header-txt h1 {
  font-size: 55px;
  line-height: 65px;
  color: #1d1d1b;
  margin-bottom: 35px;
}

.header-txt p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 45px;
}

.header-txt span {
  color: #ffae00;
}

.btn-1 {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 25px;
  background-color: #ff9000;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
  background-color: #ef8700;
}

.header-img {
  width: 80%;
  text-align: right;
}

.header-img img {
  width: 750px;
}
